body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

#auth {
    margin-bottom: 20px;
}

#dashboard {
    display: none; /* Скрываем панель управления по умолчанию */
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.content {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#userList, #transactionHistory {
    list-style-type: none;
    padding: 0;
}

#userList li, #transactionHistory li {
    margin: 5px 0;
}

.button {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

.username {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
